@use './variables' as *; // <== indispensable pour accéder à $radius

@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin button($bg, $hover-bg) {
  background: $bg;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: $radius; // ✅ maintenant il est défini
  cursor: pointer;
  font-weight: 600;
  transition: $transition;

  &:hover {
    background: $hover-bg;
  }
}
